[Unit]
Description=Mount LSSD Volume at boot

[Mount]
What=UUID="run: sudo blkid -p --output value /dev/nbd1 | head -n 1"
Where=/mnt/dssd
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
